.red {
  color: #c3170c;
}

.blue {
  color: #1e4b9b;
}

.blue-green {
  color: #006766;
}

.green {
  color: #07aa47;
}

.orange {
  color: #e3662b;
}

.light-red {
  color: #fb0735;
}

.pink {
  color: #ff75bb;
}

.orange2 {
  color: #ec7d00;
}

.grey {
  color: #323333;
}

.purple {
  color: #a81d83;
}

.light-green {
  color: #16ae54;
}

.orange3 {
  color: #ec8006;
}
